[Desktop Entry]
Version=1.0
Type=Application

Name=Lonewolf
Comment=A personal kanban board application which lets you work on you own projects with a great desktop experience.
Icon=site.someones.Lonewolf.png
TryExec=lonewolf
Exec=lonewolf open %f
Terminal=false
Categories=Office;ProjectManagement;
Keywords=kanban;productivity;
