
html, body {
    width: 100%;
    height: 100%;
}

#app {
    height: 100%;
    width: 100%;
}

/* prevent webkit bug (selecting svg and dragging the selection like crazy triggers "(MiniBrowser:56705): WARNING **: 00:27:52.442: WebProcess CRASHED") */
svg, svg * {
    user-select: none;
    -webkit-user-select: none;
}

